#map-agent, #map-customer { 
  width: 50%;
  height: 700px; 
}

body {
  padding: 20px;
}

#items-table {
  margin-left: 30px;
}

td, th {
  padding: 10px;
}

.map-container {
  display: flex;
}

#add-item {
  margin-left: 30px;
}
